body{
  display: flex;
  flex-direction: row;
  background-color: #BAE6D6;
  padding: 1em 4em 0 0;
}
nav{
  background-color: #346755;
  margin-right: 2em;
  padding: 2em;
}

nav a{
  display: block;
  color: white;
  font-style: normal;
  text-decoration: none;
  line-height: 40px;
  font-size: 20px;
}
nav a:hover{
  color:#74E6BE;
}
a:hover{
  color:#346755;
}
nav header{
  font-size: 25px;
  color: #74E6BE;
}
header{
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
}
pre {
    background: hsl(159, 17%, 80%);
    border: 1px solid #ddd;
    border-left: 5px solid #4E9A7F;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    width: 60%;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
code{

}
li {
}
@media screen and (max-width: 993px) {
  pre{
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  body{
    flex-direction: column;
    padding: 0;
  }
  pre{
    margin: auto;
  }
  a{
    display: initial;
    margin-right: 10px;
    white-space: normal;
  }
  nav{
    margin-right: auto;
  }

}
@media screen and (max-width: 594px){
  pre{
    white-space:normal;
  }
}
